<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i></h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Accueil</a></li>
                    <li><i class="fa fa-bars"></i><a href="/parameters">Parametres</a></li>
                    <li><i class="fa fa-square-o"></i>Parametres</li>
                </ol>
            </div>
        </div>
    <div class="container" style="width: 70%">
    <div class="row justify-content-center" >
        <div class="col-lg-12">
            <form class="form-horizontal" th:action="@{/parameters/countries}" method="post">
            <section class="panel">
                <header class="panel-heading">
                   Ajouter une nouvelle tache
                </header>
                <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Titre</label>
                            <div class="col-sm-6">
                                 <input name="capital" class="form-control" size="16" type="text">
                            </div>
                        </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Description</label>
                        <div class="col-sm-6">
                            <input name="description" type="text" size="16" class="form-control">
                        </div>
                    </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4"> Date de début</label>
                            <div class="col-sm-6">
                                <input name="nationality" type="text" class=" form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Date de fin</label>

                            <div class="col-sm-5">
                                <input name="continent" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Status</label>

                            <div class="col-sm-5">
                                <input name="code" type="text"  class="form-control">
                            </div>
                        </div>

                </div>
            </section>
            <section class="panel">

                <div class="panel-body">
                    <button type="submit" class="btn btn-primary">
                        Sauvegarder
                    </button>
                    <a href="/parameters/tasks" class="btn  btn-warning">
                        Quitter
                    </a>
                </div>
            </section>
            </form>
        </div>
    </div>
    </div>
    </section>
</div>

</body>
</html>
