<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i>GESTION DES PROJETS</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Accueil</a></li>
                    <li><i class="fa fa-bars"></i>Espace projet</li>
                    <li><i class="fa fa-square-o"></i>Pages</li>
                </ol>
            </div>
        </div>
    <div class="row">
       <!-- <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Vehicles</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/fleet/vehicles" class="btn btn-primary">Manage Gérer les taches</a>
                        </div>
                    </div>
                </div>
            </section>
        </div> -->
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Communication, veille et expertise</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/fleet/hires" class="btn btn-primary">Ajouter un projet</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Animation scientifique</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/fleet/movements" class="btn btn-primary">Ajouter un projet</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Recherche/innovation</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/fleet/maintenances" class="btn btn-primary">Ajouter un projet</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
      <!--  <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Montage de projet</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/fleet/vehicleTypes" class="btn btn-primary">Manage Vehicle Types</a>
                        </div>
                    </div>
                </div>
            </section>
        </div> -->
      <!--  <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Status des projetss</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/fleet/vehicleStatuses" class="btn btn-primary">Manage Vehicle Status</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>-->
    </div>

    <div class="row">
        <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Rapport annuel</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/fleet/vehicleMakes" class="btn btn-primary">Consulter le rapport</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
      <!--  <div class="col-lg-4">
            <section class="panel">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><h3><b>Vehicle Models</b></h3></h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="/fleet/vehicleModels" class="btn btn-primary">Manage Vehicle Models</a>
                        </div>
                    </div>
                </div>
            </section>
        </div> -->

    </div>
    </section>
</div>

</body>
</html>
